@import url("./reset.css");

html {
  font-family: Sofia Sans, sans-serif;
}
.body {
  width: 100%;
  height: 100vh;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}
/*-------------------------------------------------------*/
/* Header                                                */
/*-------------------------------------------------------*/
header {
  background-color: #000;
}
.flex {
  display: flex;
}
header div h1 {
  font-size: 26px;
  text-transform: uppercase;
  color: #f0f2f4;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.2px;
}
/*-------------------------------------------------------*/
/* Main                                                  */
/*-------------------------------------------------------*/
main {
  height: auto;
}
section {
  /* background: lightgray url("../image/earth.jpg") center center / cover no-repeat; */
  background: #000 center center / cover no-repeat;
  background-image: url("../image/Hello\,\ world.jpg");
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
section h2 {
  margin-top: 180px;
  color: #f0f2f4;
  font-size: 60px;
}
section h3 {
  margin-top: 50px;
  color: #f0f2f4;
  font-size: 30px;
}
[data-animation-offset] {
  animation: trans 2s ease-in;
}
[data-animation-offset=title] {
  animation-delay: 0s;
}
@keyframes trans {
  from{
    opacity: 0; 
    translate: 0 -10px;
  }to{
    opacity: 1; 
    translate: 0 0;
  }
}
.about {
  width: 100%;
  height: 480px;
  background-color: rgb(38, 38, 38);
  color: #f0f2f4;
}
img {
  margin-top: 60px;
  width: 200px;
  height: 150px;
  border-radius: 30px;
}
.column {
  flex-direction: column;
}
.introduce {
  margin-top: 40px;
  margin-left: 16px;
  width: 768px;
}
.information {
  margin-top: 30px;
  margin-left: 16px;
  width: 768px;
}
ul {
  margin-top: 20px;
  list-style: none;
}
li {
  font-size: 18px;
}
li i {
  height: 10px;
  width: 10px;
}
li p{
  margin-left: 15px;
}
.age {
  margin-left: 200px;
}
.interests {
  margin-left: 223px;
}
.employment {
  margin-left: 288px;
}
.column {
  margin-top: 30px;
}
@media(max-width: 1024px){
  .about {
    height: 700px;
  }
  .img {
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 800px){
  .about {
    height: 800px;
  }
  .introduce {
    width: 480px;
    margin-left: 0px;
  }
  .information {
    width: 480px;
    margin-left: 0px;
  }
  .age {
    margin-left: 50px;
  }
  .interests {
    margin-left: 105px;
  }
  .employment {
    margin-left: 138px;
  }
}
@media(max-width: 512px){
  .about {
    height: 900px;
  }
  ul {
    margin-top: 0px;
    flex-direction: column;
  }.introduce {
    width: 340px;
    margin-left: 0px;
  }
  .information {
    width: 340px;
    margin-left: 0px;
  }
  li {
    margin-top: 10px;
  }
  .age {
    margin-left: 0px;
  }
  .interests {
    margin-left: 0px;
  }
  .employment {
    margin-left: 0px;
  }
}
.contact {
  margin-top: 60px;
}
.form{
  margin: auto;
  width: 50%;
  font-size: 0;
}
form input{
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
form textarea{
  height: 135px;
  resize: none;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
form input[type=text], form input[type=email], form textarea{
  border: 1px solid rgb(0 0 0 / 0.4);
  width: 100%;
}
form input[type=text]:hover, form input[type=email]:hover, form textarea:hover{
  border: 1px solid rgb(0 0 0 / 0.7);
}
form input[type=text]:focus, form input[type=email]:focus, form textarea:focus{
  border: 1px solid #0000cc;
}
form input + input, form textarea{
  margin-top: 12px;
}
.buttons{
  text-align: center;
}
input[type=reset], input[type=submit]{
  font-size: 14px;
  padding: 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
input[type=reset]{
  border: 1px solid #007fff;
  color: blue;
  background-color: transparent;
}
input[type=submit]{
  margin-left: 12px;
  color: white;
  background-color: #007fff;
}
input[type=reset]:hover{
  border: 1px solid #0007ff;
  color: #0007ff;
}
input[type=submit]:hover{
  background-color: #0007ff;
}
[data-animation-offset]{
  animation: trans 1s ease-in;
}
[data-animation-offset=form]{
  animation-delay: 0s;
}
@keyframes trans{
  from{
    opacity: 0; 
    translate: 0 -10px;
  }to{
    opacity: 1; 
    translate: 0 0;
  }
}
.button{
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
}
div input{
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
input[type=button]{
  font-size: 14px;
  padding: 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
input[type=button]{
  margin-left: 12px;
  color: white;
  background-color: #007fff;
}
input[type=button]:hover{
  background-color: #0007ff;
}
.bounce{
  animation: bounce 5s ease-in-out infinite;
  animation-delay: 2s;
}
@keyframes bounce{
  0%, 50%, 100%{translate: 0 0;}
  25%, 75%{translate: 0 -15px;}
}
@media(max-width: 450px){
  .buttons{
    margin-top: 10px;
  }
  input[type=submit]{
    margin-left: 0px;
  }
}
/*-------------------------------------------------------*/
/* Footer                                                */
/*-------------------------------------------------------*/
footer {
  min-width: 100%;
  height: 100px;
  background-color: #000;
}
footer div div{
  width: 300px;
}
footer div div i {
  height: 80px;
  width: 60px;
  color: #f0f2f4;
  font-size: 30px;
  padding: 25px 0px;
}
footer div p {
  margin-top: 20px;
  color: #f0f2f4;
  float: right;
  font-size: 24px;
  font-weight: 600;
  margin-left: 575px;
}
@media(max-width: 1024px){
  .footer {
    display: none;
  }
}