@import url("./reset.css");

html {
  font-family: Sofia Sans, sans-serif;
}
.body {
  width: 100%;
  height: 100vh;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}
/*-------------------------------------------------------*/
/* Header                                                */
/*-------------------------------------------------------*/
header{
  background-color: #000;
  height: 150px;
}
header .flex{
  display: flex;
  justify-content: space-between;
}
header .title h1{
  font-size: 26px;
  text-transform: uppercase;
  color: #f0f2f4;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.2px;
}
header nav ul{
  margin-left: 50px;
  list-style: none;
  font-size: 0;
}
header nav ul li{
  display: inline-block;
  line-height: 60px;
  height: 60px;
  width: 150px;
  text-align: center;
}
header nav ul li a{
  text-align: center;
  color: #f0f2f4;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
header nav ul li:hover{
  background-color: #007fff;
}
header div div button{
  background-color: #000;
  text-align: center;
  height: 60px;
  width: 60px;
  color: #f0f2f4;
  float: right;
}
header div div button:hover{
  background-color: #007fff;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media(min-width: 768px){
  .icon{display: none;}
}
@media(max-width: 768px){
  header nav ul li{display: none;}
}
/*-------------------------------------------------------*/
/* Main                                                  */
/*-------------------------------------------------------*/
main {
  height: auto;
}
.flex {
  display: flex;
}
section {
  /* background: lightgray url("../image/earth.jpg") center center / cover no-repeat; */
  background: #000 center center / cover no-repeat;
  background-image: url("../image/Hello\,\ world.jpg");
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
section h2 {
  margin-top: 180px;
  color: #f0f2f4;
  font-size: 60px;
}
section h3 {
  margin-top: 50px;
  color: #f0f2f4;
  font-size: 30px;
}
[data-animation-offset] {
  animation: trans 2s ease-in;
}
[data-animation-offset=title] {
  animation-delay: 0s;
}
@keyframes trans {
  from{
    opacity: 0; 
    translate: 0 -10px;
  }to{
    opacity: 1; 
    translate: 0 0;
  }
}
/*-------------------------------------------------------*/
/* About Me                                              */
/*-------------------------------------------------------*/
.about {
  width: 100%;
  height: 480px;
  background-color: rgb(38, 38, 38);
  color: #f0f2f4;
}
img {
  margin-top: 60px;
  width: 200px;
  height: 150px;
  border-radius: 30px;
}
.column {
  flex-direction: column;
}
.introduce {
  margin-top: 40px;
  margin-left: 16px;
  width: 768px;
}
.information {
  margin-top: 30px;
  margin-left: 16px;
  width: 768px;
}
main ul{
  margin-top: 20px;
  list-style: none;
}
main ul li {
  font-size: 18px;
}
main ul li i {
  height: 10px;
  width: 10px;
}
main ul li p{
  margin-left: 15px;
}
.age {
  margin-left: 200px;
}
.interests {
  margin-left: 223px;
}
.employment {
  margin-left: 288px;
}
.column {
  margin-top: 30px;
}
@media(max-width: 1024px){
  .about {
    height: 700px;
  }
  .img {
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 800px){
  .about {
    height: 800px;
  }
  .introduce {
    width: 480px;
    margin-left: 0px;
  }
  .information {
    width: 480px;
    margin-left: 0px;
  }
  .age {
    margin-left: 50px;
  }
  .interests {
    margin-left: 105px;
  }
  .employment {
    margin-left: 138px;
  }
}
@media(max-width: 512px){
  .about {
    height: 900px;
  }
  main ul {
    margin-top: 0px;
    flex-direction: column;
  }.introduce {
    width: 340px;
    margin-left: 0px;
  }
  .information {
    width: 340px;
    margin-left: 0px;
  }
  main ul li {
    margin-top: 10px;
  }
  .age {
    margin-left: 0px;
  }
  .interests {
    margin-left: 0px;
  }
  .employment {
    margin-left: 0px;
  }
}
/*-------------------------------------------------------*/
/* Contact Me                                            */
/*-------------------------------------------------------*/
.contact {
  margin-top: 60px;
}
.form{
  margin: auto;
  width: 50%;
  font-size: 0;
}
form input{
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
form textarea{
  height: 135px;
  resize: none;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
form input[type=text], form input[type=email], form textarea{
  border: 1px solid rgb(0 0 0 / 0.4);
  width: 100%;
}
form input[type=text]:hover, form input[type=email]:hover, form textarea:hover{
  border: 1px solid rgb(0 0 0 / 0.7);
}
form input[type=text]:focus, form input[type=email]:focus, form textarea:focus{
  border: 1px solid #0000cc;
}
form input + input, form textarea{
  margin-top: 12px;
}
.buttons{
  text-align: center;
  margin-bottom: 50px;
}
input[type=reset], input[type=submit]{
  font-size: 14px;
  padding: 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
input[type=reset]{
  border: 1px solid #007fff;
  color: blue;
  background-color: transparent;
}
input[type=submit]{
  margin-left: 12px;
  color: white;
  background-color: #007fff;
}
input[type=reset]:hover{
  border: 1px solid #0007ff;
  color: #0007ff;
}
input[type=submit]:hover{
  background-color: #0007ff;
}
@media(max-width: 450px){
  .buttons{
    margin-top: 10px;
  }
  input[type=submit]{
    margin-left: 0px;
  }
}
/*-------------------------------------------------------*/
/* Animation                                             */
/*-------------------------------------------------------*/
.click {
  width: 500px;
  height: 500px;
  background: #f9f9f9;
  margin: 10px auto;
  overflow: hidden;
}
.red {
  width: 420px;
  height: 100px;
  background: #d35400;
  position: relative;
  left: 400px;
  transition: transform 1.8s ease-in-out;
}
.red-expand {
  transform: translateX(-840px);
}
.green {
  width: 100px;
  height: 420px;
  position: relative;
  top: -420px;
  background: #2ecc71;
  transition: transform 1.8s ease-in-out;
}
.green-expand {
  transform: translateY(840px);
}
.yellow {
  width: 420px;
  height: 100px;
  background: #f1c40f;
  position: relative;
  top: -120px;
  left: -320px;
  transition: transform 1.8s ease-in-out;
}
.yellow-expand {
  transform: translateX(840px);
}
.blue {
  width: 100px;
  height: 420px;
  background: #3498db;
  position: relative;
  top: -220px;
  left: 400px;
  transition: transform 1.8s ease-in-out;
}
.blue-expand {
  transform: translateY(-840px);
}
.text {
  width: 280px;
  height: 280px;
  border: 2px solid #999;
  border-radius: 5px;
  position: relative;
  top: -930px;
  left: 110px;
  text-align: center;
  line-height: 2;
}
hr {
  width: 70%;
}
.click-btn {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: 15px;
  border: none;
  background-color: #007fff;;
  color: #fff;
  margin: 20px;
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #dedede;
  transition: all 0.25s ease-in-out
}
.click-btn:hover{
  background-color: #0007ff;
}
@media(max-width: 580px){
  .click {
    display: none;
  }
}
/*-------------------------------------------------------*/
/* Footer                                                */
/*-------------------------------------------------------*/
footer {
  min-width: 100%;
  height: 120px;
  background-color: #000;
}
footer div div{
  width: 300px;
}
footer div div i {
  height: 50px;
  width: 50px;
  align-items: center;
  color: #f0f2f4;
  font-size: 30px;
  margin-top: 20px;
}
footer div p {
  color: #f0f2f4;
  font-size: 24px;
  font-weight: 600;
}